* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    background: linear-gradient(90deg, #69b7eb, #8d01fffd, #ebbaff);
    font-size: 1.1rem;
    font-family: "Quicksand", sans-serif;
    height: 100%;
    overflow: hidden;
  }


  .TodoList {
    margin: 0.5rem auto;
    padding: 1rem;
    color: #7f259b;
  }

  .TodoList h1 {
    font-weight: normal;
    font-size: 2.5rem;
    letter-spacing: 0.05em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .rightButtons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
  }

  .textInput {
    width: 100%;
  }

  .todoBox {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    background: #f3cdff;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    min-width: 20%;
    max-width: 25%;
    box-shadow: -20px -20px 0px 0px rgba(0, 0, 0, 0.13);
  }
  
  .container {
    display: flex;
    gap: 1rem;
    height: 2.5rem;
    margin-bottom: 1rem;
  }

  .container input {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
  }

  .container button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 5rem;
    background:rgba(0, 0, 0, 0);
    border-color: white;
    cursor: pointer;
  }
  
  .list {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
  }

  .list input {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
  }

  .list button {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    width: 4rem;
    background:rgba(0, 0, 0, 0);
    border-color: white;
    cursor: pointer;
  }
  
  .todoRow {
    background: rgba(122, 78, 119, 0.5);
    margin: 0.5rem;
    padding: 0.5rem;
    min-width: 100%;
    color: white;
    display: flex;
  }
  
  .name {
    color: white;
    margin-right: 1rem;
  }
  
  .name-done {
    text-decoration: line-through;
    color: red;
    margin-right: 1rem;
  }